<body style = "background-color: #f4f4f4;">
    <h1>Twitter Bot Classifier</h1>

    <form action = "{% url 'home' %}" method = "POST">
        <input type = "text" name = "user_id" style = "font-size: 2em; width: 300px;" >
        {% csrf_token %}
        <button type = "submit">Send</button>
    </form>
    {% if pred %}
        {% if pred >= 95 %}
            <h1>@{{ user_name }}さんのBot類似度: 95%以上</h1>
        {% elif pred == -1 %}
            <h1>ユーザが存在しません。</h1>
        {% elif pred <= 5 %}
            <h1>@{{ user_name }}さんのBot類似度: 5%以下</h1>
        {% else %}
            <h1>@{{ user_name }}さんのBot類似度: {{ pred }}%</h1>
        {% endif %}
        
    {% endif %}
</body>
